*~
*.swp
*.o
app
*.so
*_t.c
*_t.h
*_u.c
*_u.h

App/Enclave_u.c
App/Enclave_u.h
Enclave/Enclave_t.h
Enclave/Enclave_t.c
.vscode/
.cproject
.project
.settings/
.vscode/
Enclave1/Sealing/Sealing.o
Enclave1/Sealing/Sealing.o
Enclave1/binn/binn.o
Enclave1/scrypt/crypto_scrypt.o
Enclave1/scrypt/crypto_scrypt_smix.o
Enclave1/scrypt/insecure_memzero.o
Enclave1/scrypt/sha256.o

